.main {
  align-items: center;
  background-color: #fff;
  border-radius: var(--border-radius-big);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 60px auto;
  max-width: 768px;
  padding: 2.5rem;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    margin: 60px 24px;
    padding: 1.5rem;
  }
}
