.main {
  align-items: center;
  background-color: #fff;
  border-radius: var(--border-radius-big);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 60px auto;
  max-width: 768px;
  padding: 2.5rem;
  /* min-height: 100vh; */
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
}
